.search {
  position: relative;
}

input {
  width: 200px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid rgb(89, 1, 171);
  background: #f5f0e3;
  outline: none;
  transition: 0.3s linear;
  margin-right: 28px;
}

.button {
  position: absolute;
  top: 14px;
  right: 38px;
  border: none;
  background: none;
  cursor: pointer;
}

.img_search {
  width: 20px;
}
